#ip、端口、web应用名
server:
  address: 0.0.0.0
  port: 81
  servlet:
    context-path: /hotel
  #最大文件上传大小
  tomcat:
    max-http-post-size: 100MB
spring:
  #设置显示颜色
  output:
    ansi:
      enabled: always
  #数据库设置
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/hotel?&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    username: XQDD
    password: a1032453509

  jpa:
    hibernate:
      #ddl模式
      ddl-auto: create
    #显示sql语句
    show-sql: true
  servlet:
    #最大文件上传大小
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
#日志输出级别
logging:
  level:
    root: warn
    com.zheng: trace

file:
  #文件上传目录
  upload-dir: D:\environment\Apache24\htdocs\static\hotel\upload\
